/* ./source/css/customize.css */

/* p标签上下间距 */
p {
    margin: 0.3rem 0px;
}

/* 标题样式 */
body h2, body .h2 {
    margin-top: 1rem;
}

body h3 {
    text-decoration: none; /* 取消下划线 */
}
article .content h3::before {
    content: "## ";
    color: #2BBC8A;
    font-weight: bold;
    font-size: 1rem;
}

/* 超链接样式 */
.content a {
    color: #42B983;
    background-image: none; /* 取消下划线 */
}
.content a:hover {
    background-image: linear-gradient(transparent, transparent 5px, #c9cacc 5px, #c9cacc);
    background-position: bottom;
    background-size: 100% 6px;
    background-repeat: repeat-x;
} 

/* 引用块样式 */
article .content blockquote {
    padding: 1em 10px;
    quotes: none;
    background: #2b2b2b;
    font-weight: normal;
    border-left: 3px solid #5db88d;
}
article .content blockquote:before {
    content: none;
}

/* 行内代码颜色 */
code {
    padding: 0 4px;
    /* color: #59C1C3; */
    color: #8BE9FD;
    background-color: #2D313B;
    border: none;
}

/* 缩小图片视频样式 */
article .content img, article .content video {
    max-width: 50%
}

/* 避免折叠代码颜色被Bootstrap覆盖 */
pre {
    color: #D1D9E1;
}